# Firebase Configuration
# IMPORTANTE: Copie este arquivo para .env e preencha com suas credenciais

EXPO_PUBLIC_FIREBASE_API_KEY=sua-api-key-aqui
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=lembretecontas.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=lembretecontas
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=lembretecontas.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=853973539596
EXPO_PUBLIC_FIREBASE_APP_ID=1:853973539596:web:010e651e5414d4b2690729
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-S88VBFRSEF
